// Palette
@primary-border-color: #808080;
@primary-background-color: #d3d3d3;
@secondary-border-color: #00ffff;
@hover: #3399ff;

// Fonts

// Global
html, body {
    height: 100%;
    overflow: scroll;
}

a,
a:hover,
a:visited {
    color: @hover;
    text-decoration: none;
}

input[type=text],
input[type=email],
input[type=password],
input[type=submit] {
    border-radius: 15px;
    margin: 0 2px 0 2px;
}

.form-control {
    margin-bottom: 4px !important;
    padding: 8px;
}

.success {
    color: @hover;
}

.error {
    color: red;
}

.form-link {
    padding: 4px 0;
}

// Footer
.footer {
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    text-align: center;
    position: fixed;
    padding: 1% 0;
    background-image: linear-gradient(@primary-background-color, @primary-border-color);
}

// Header
.header {
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: inline-flex;
    background-image: linear-gradient(@primary-border-color, @primary-background-color);
}

.brand {
    margin-left: 2%;
}

.login-register {
    display: inline-flex;
    margin: 2% 0 0 50%;
}

.forgot-password-link {
    margin-left: 47%;
}

.register-button {
    padding-left: 1px;
}

.register {
    border-radius: 15px;
    margin: 0 2px 0 2px;
}

.login:hover,
.register:hover,
.logout:hover {
    background-color: @hover;
}

.nav-buttons {
    display: inline-flex;
    margin: 2% 0 0 75%;
}

// Index page
.main {
    width: 40%;
    text-align: center;
    margin: 15% 0 10% 30%;
    padding: 4px;
    border-radius: 15px;
    border: 1px solid @secondary-border-color;
    background-color: @primary-background-color;
}

// Sign up page
.registration {
    display: inline-grid;
}

.join:hover {
    background-color: @hover;
}

// Profile page
.profile{
    width: 40%;
    text-align: center;
    margin: 10% 0 10% 10%;
    padding: 4px;
    border-radius: 15px;
    border: 1px solid @secondary-border-color;
    background-color: @primary-background-color;
    position: absolute;
}

.profile-photo {
    font-size: 9em;
}

.delete,
.editacct {
    border-radius: 15px;
    margin: 0 2px 0 2px;
}

.editacct:hover {
    background-color: @hover;
}

.delete:hover {
    background-color: red;
}

.book-list {
    width: 31%;
    text-align: center;
    float: right;
    padding: 4px;
    margin: 15% 12% 0 0;
    border-radius: 15px;
    border: 1px solid @secondary-border-color;
    background-color: @primary-background-color;
}

.book-entry-button {
    border-radius: 15px;
    margin: 0 2px 0 2px;
}

.book-entry-button:hover {
    background-color: @hover;
}

// Edit/Update Profile
.edit-profile {
    .registration;
}

.bio-update {
    border-radius: 15px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    height: 100px;
    resize: none;
}

.cancel-update-button,
.change-password-button {
    border-radius: 15px;
}

.update-form-submit:hover,
.cancel-update-button:hover,
.change-password-button:hover {
    background-color: @hover;
}

// Change password page
.change-password-form {
    .registration;
}

.change-password-submit:hover {
    background-color: @hover;
}

.password-change-cancel {
    .register;
}

.password-change-cancel:hover {
    background-color: @hover;
}

// Delete account
.choices-display {
    padding: 4px;
}

.delete-form {
    border-bottom: 1px solid @secondary-border-color;
}

.yes-delete:hover {
    background-color: red;
}

.no-delete {
    .register;
}

.no-delete:hover {
    background-color: @hover;
}

// Activation page
.activation-form {
    .registration;
}

// Resend Activation Code page
.resend-code-form {
    .registration;
}

// Forgot password page
.forgot-password-form {
    .registration;
}

// Book entry page
.book-entry-form {
    .registration;
}

.return:hover,
.book-submit:hover {
    background-color: @hover;
}

.return {
    border-radius: 15px;
    margin: 0 2px 0 2px;
}

// Book Entry star rating
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    padding: 7px;
}

.rating > label {
    position: relative;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}

// Single Book Page
.book-placeholder-img {
    padding: 4%;
    font-size: 6em;
}