:root {
  --main-font-color: hsl(114, 96.1%, 59.6%);
  --secondary-font-color: #f8f8ff;
  --main-background-color: #3d3d3d;
  --secondary-background-color: #0a0a0a;
  --primary-font: "Poppins", sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  width: 100vw;
  max-width: 100vw;
  background-color: var(--main-background-color);
  color: var(--secondary-font-color);
  text-align: center;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding), 60px;
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: var(--secondary-background-color);
  color: var(--main-font-color);
  padding: 8px 0;
}

h1 {
  font-size: 4rem;
  font-family: "Pacifico", cursive;
  border: 4px solid var(--main-font-color);
  border-radius: 15px;
  width: max-content;
  margin: 8px auto;
  padding: 12px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0;
}

nav a {
  color: var(--main-font-color);
}

.my-slides img {
  width: 100vw;
}

footer {
  background-color: var(--secondary-background-color);
  color: var(--main-font-color);
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  padding: 4px;
  bottom: 0;
  left: 0;
  margin-top: 8%;
}
